body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.bg{
    background-image: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container{
    max-width: 64.25rem; /*1028px*/
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.875rem ;/*46px*/
}

.logo-link{
    display: flex;
    padding: 5px 0;
    gap: 8px;
}

.logo-orange{
    display: none;
}

.logo-link:hover .logo{
    display: none;
}

.logo-link:hover .logo-text{
    color: #F26522;
}
.logo-link:hover .logo-orange{
    color: #F26522;
    display: block;
}

.logo{
    height: 2.75rem; /*44px*/
}

.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    color: #FFFFFF;
}

.contact-link:hover{
    color: #F26522;
}

.logo-text_big{
    font-size: 1.812rem; /*29px*/
    line-height: 1.812rem; /*29px*/
}

.logo-text_small{
    font-size: 1.125rem; /*18px*/
    line-height: 1.125rem; /*18px*/
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 19px;
}

.contact-link,
.card-text{
    font-weight: 400;
    font-size: 1.125rem; /*18px*/
    line-height: 1.125rem; /*18px*/
    color: #FFFFFF;
}

.cards{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    max-width:64.25rem; /*1028px*/
    column-gap: 60px;
    row-gap: 37px;
    margin-top: 1.375rem; /*22px*/
    text-align: center;    
}


.card-img{
    max-height: 13.75rem; /*220px*/
    max-width: 18.75rem; /*300px*/
    padding-bottom: 20px;
    
}

.footer-text{
    margin-top: 3.062rem; /*49px*/
    margin-bottom: 0.937rem; /*15px*/
    text-align: center;
    font-weight: 400;
    font-size: 0.75rem; /*12px*/
    line-height: 0.75rem; /*12px*/
    color: #FFFFFF;
}

.card{
    position: relative;
}

.orage-block{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;   
    width: 17.562rem; /*281px*/
    max-height: 55px;
    background-color: #F26522;
    bottom: 1.2rem; /*19px*/ 
    margin: 0 auto;
    gap: 8rem; /*128px*/ 
    font-weight: 400;
    color: #FFFFFF;    
    z-index: -1;
    transition: all .5s;
}

.orage-block__price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem; /*8px*/ 
    max-width: 2.25rem; /*36px*/ 
    padding: 0.5rem 0 0.75rem 1rem; /*8px 0 12px 16px*/ 
}

.orage-block__details{
    align-self: flex-end;
    padding-bottom: 0.75rem;
}

.block__text{
   font-size: 0.625rem; /*10px*/
   line-height: 0.625rem;
}

.block__price{
    font-size: 1.25rem; /*20px*/
    line-height: 1.25rem;
}

.orage-block__details{
    font-size: 0.875rem; /*14px*/
    line-height: 0.875rem;
    
}

.orage-block__details::after{
    content: "\003E";
    color: #FFFFFF;
    padding-left: 1rem;
}

.card-link:hover .orage-block{
    z-index: 1;
    transition: all 1.4s;
    transform: translateY(-1.35rem);
}

.card-link:hover .card-text{
    color: #F26522;
    transition: all 1.5s;
}


